@import url('https://fonts.googleapis.com/css?family=BenchNine');
@import url('https://fonts.googleapis.com/css?family=Marvel');
@import url('https://fonts.googleapis.com/css?family=Roboto Mono');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    background-color: white;
    color: black;
    font-family:sans-serif;
    text-align: center;
}

#brb-banner {
    width: 100%;
    height: 25%;
    background-position: center top;
    background-size: cover;
    margin: 5px;
}

#welcomeText {
    font-family: 'Marvel';
    font-size: 25px;
    text-align: left;
}

.gbutton {
    margin:10%;
}

.flexColumn {
    display:flex;
    flex-direction:column;
    align-items:center;
}

#logoutForm {
    position:fixed;
    top:10px;
    right:10px;
}

#reservationForm {
    background-color:#FFFFFF;
    padding:15px;
    border-radius:15px;
    font-family: 'BenchNine';
    font-size: 26px;
}

#reservationTime {
    font-weight: bold;
}

#reservationDate {
    font-weight: bold;
}

#roomReservationTimeInfo {
    margin-top:0px;
}

#roomReservationDateInfo {
    margin-bottom:0px;
}

label {
    margin: 5px;
}

select {
    border-radius: 6px;
    padding: 6px;
}

#attendeeInputContainer {
    border-radius: 12px;
}

input {
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
    padding: 6px;
}

.attendeeInput {
    margin:10px;
    font-size: 20px;
}

#reservationSubmit {
    margin:15px;
    padding: 10px;
    border-radius: 6px;
    background-color: #cc0404;
    font-family: 'Marvel';
    font-size: 25px;
    font-weight: bold;
}

#calendar {
    margin:10px;
    /*background-color: red;*/
}

#timeButtonsContainer {
    margin-top:10px;
}

.timeslot-btn {
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-width: thin;
    font-size: 22px;
    font-family: 'Oswald';
    color: white;
    background-color: black;
    margin: 16px;
}

.timeslot-btn:hover {background: #C13838}
.timeslot-btn:focus {background: #C13838}

.menuContainer {
    background:#E4E4E4;
    width:100%;
    display:flex;
    align-self:stretch;
    margin:0px 10px;
    border-radius:10px;
}

.menuSelector {
    background:#CCCCCC;
    width:30%;
    height:100%;
    border-radius:10px 0px 0px 10px;
    overflow-y:scroll;
    display:flex;
    flex-direction:column;
}

.menuContents {
    margin:10px 15px;
    align-self:center;
    width:100%;
}

.menuSelectorButton {
    width:80%;
    margin:5px 0px 10px 0px;
    align-self:center;
}

.appointmentsCalendar {
    border-radius:10px;
}

#appointmentsAndCalendarContainer {
    display:flex;
    height:30%;
    width:70%;
    align-items:center;
}

#librarianCheckInContainer {
    margin:0px 20px 20px 20px;
}

#librarianCheckInOutput {
    text-align:center;
}

#usersContainer {
    width:70%;
    height:15vw;
    align-self:center;
}

#roomsContainer {
    width:70%;
    height:15vw;
    align-self:center;
}

#reservationConfirmationContainer {
    background:#E4E4E4;
    width:35%;
    border-radius:30px;
}


/*Calendar style*/

.react-calendar{
    width: 100%;
    height: 60%;
}

.librarianEditFieldContainer {
    display:flex;
    width:100%;
    align-items:center;
}

.librarianEditFieldLabel {
    align-self:flex-start;
    width:50%;
}

.librarianEditField {
    height:max-content;
}
