body {
    background-image: linear-gradient(to bottom right, orange, red);
    color: black;
}

h1 {
     text-align: center;
}
P{
    float: left;
}

.gbutton {
    margin:10%;
}

#loginContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
}

#logoutContainer {
    display:flex;
    align-items:baseline;
    width:70%;
}

#welcomeText {
    margin-right:10%;
    width:100%;
    text-align:right;
}

#logoutForm {
    margin-left:10%;
    width:100%;
}

#contentContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
}

#reservationForm {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#FFFFFF;
    padding:15px;
    border-radius:15px;
}

#attendeeInputContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.attendeeInput {
    margin:10px;
}
