<html>
    <head>
    </head>
    <body>
        <div id="content">
            <div class="all">
              <form id="back" action="https://breakoutroombreakdown.herokuapp.com">
                <button type="submit">Back to BNB</button>
              </form>
              <h3>Breakout Room Breakdown</h3>
        
              <div class="goal">
                <p>
                  Our mission - A browser-based booking appointment app
                  for easy scheduling of breakout rooms. We aim to deliver
                  a more technological and modern approach to NJIT breakout
                  rooms used for study groups or similar.
                </p>
              </div>
        
              <div class="tech">
                <p>
                  Technologies Used:
                  <br>
                  Python
                  <br>
                  Flask
                  <br>
                  React/JS
                  <br>
                  PostgreSQL
                  <br>
                  CircleCI
                  <br>
                  AWS
                  <br>
                  Heroku
                  <br>
                  Twilio
                  <br>
                  SendGrid
                </p>
              </div>
        
              <div class="url">
                <h4>Try BRB</h4>
                <a
                  href="https://breakoutroombreakdown.herokuapp.com/"
                >
                  Visit Breakout Room Breakdown!
                </a>
              </div>
        
              <div class="team">
                <p>
                  We are not just four different individuals, but we are
                  known for the Teamwork of BRB.
                </p>
                <h5>Meet our team</h5>
              </div>
        
              <div class="dipam">
                <h4>Dipam Patel</h4>
                <p1>Worked on Front-End</p1>
                <br>
                <a
                  href="https://www.linkedin.com/in/dipam-patel-b0b278201/"
                >
                  LinkedIn!
                </a>
              </div>
        
              <div class="Binarynelle">
                <h4>Binarynelle Sune</h4>
                <p1>Worked on Front-End/Back-End</p1>
                <br>
                <a
                  href="https://www.linkedin.com/in/sunebelle/"
                >
                  LinkedIn!
                </a>
              </div>
        
              <div class="Jacob Haynie">
                <h4>Jacob Haynie</h4>
                <p1>Worked on Back-End/Front End</p1>
                <br>
                <a
                  href="https://www.linkedin.com/in/jacob-haynie/"
                >
                  LinkedIn!
                </a>
              </div>
        
              <div class="Timothy">
                <h4>Timothy Schutte</h4>
                <p1>Worked on Back-End</p1>
                <br>
                <a
                  href="https://www.linkedin.com/in/timothy-schutte-7b88a8132/"
                >
                  LinkedIn!
                </a>
              </div>
        
            </div>
        </div>
        <script src="https://apis.google.com/js/platform.js"></script>
        <link rel="stylesheet" href="static/style.css">
    </body>
</html>